.rhap_container{
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 0;
    border: none;

    .rhap_main-controls {
        .rhap_additional-controls {
          .rhap_additional-controls-button {
            font-size: 1px; /* Ajusta el tamaño de los botones*/
          }
        }
        .rhap_main-controls-button {
          font-size: 3rem; /* Ajusta el tamaño de los botones principales */
        }
      }
    
}